*{
    text-decoration: none !important;
    list-style: none;
    font-family: "Jost" 
  
}
.title {
    font-family: "Jost"  
}
.img{
    background-image: url('../img/1.jpg');
    padding: 250px !important;
    background-size: cover;
    background-repeat: no-repeat;
}
.font-weight-bold {
    font-weight: 700 !important;
}

h2 {
    font-size: 3.4rem;
}


h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    
}
.setbox{
    box-shadow: 20px, 20px , 20px , 20px #222;
    align-items: center;   
  
}
.product-card {
 
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 15px;
    background: #fff;
    transition: transform 0.3s;
}
.product-card:hover {
    transform: scale(1.05);
}
.product-image {
    max-height: 200px;
    object-fit: cover;
}
.p-100{
    padding: 100px;
}


